aniso8601==9.0.1
attrs==21.2.0
cached-property==1.5.2
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
dbus-python==1.2.16
distro-info===0.23ubuntu1
Flask==1.1.4
flask-restplus==0.13.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==2.0.1
PyGObject==3.36.0
pyrsistent==0.17.3
python-apt==2.0.0+ubuntu0.20.4.5
pytz==2021.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.16.0
unattended-upgrades==0.1
urllib3==1.25.8
Werkzeug==0.16.0
